[Unit]
Description           = Spring Boot Application: Test Jenkins
After                 = network.target
StartLimitIntervalSec = 0

[Service]
ExecStart             = /bin/java -jar /var/lib/jenkins/.m2/repository/com/ivoronline/springboot_testjenkins/0.0.1-SNAPSHOT/springboot_testjenkins-0.0.1-SNAPSHOT.jar
User                  = jenkins
Type                  = simple
Restart               = always
RestartSec            = 1

[Install]
WantedBy              = multi-user.target
